In [ ]:
import pandas as pd

# Первое задание
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0

In [10]:
# Нам потребуются две таблицы ratings.csv и movies.csv
# Сначала работаем с ratings.csv
# Скачиваем в память как data_rating
data_rating = pd.read_csv('ratings.csv')
# Выделяем все строки с рейтингом 5
data_rating_five = data_rating [data_rating.rating == 5]
# Структурируем (когда шла отладка кода, так было удобнее производить анализ и контролировать промежуточные результаты)
data_rating_five = data_rating_five.sort_values(by = ['movieId'], ascending = [True])
# Группируем по Id фильма
data_rating_count = data_rating_five.groupby('movieId').count()
# Находим максимальное количество пятерок
max_number = data_rating_count['rating'].max()
# Выделяем фильм/фильмы с таким количеством пятерок 
data_rating_max = data_rating_count [data_rating_count.rating == max_number]
# Удаляем ненужные для конечного ответа столбцы (следовало сделать это раньше, для экономии памяти и ускорения работы)
data_rating_max = data_rating_max.filter(items = ['movieId', 'rating'])
data_rating_max

         rating
movieId
318       31896

In [6]:
# Формируем татафрейм на основе файла movies.csv
data_movies = pd.read_csv('movies.csv')
# Объединяем результаты, чтобы увидеть реквизиты фильма
final_table = data_rating_max.merge(data_movies, on='movieId', how='left')
# Приводим в читабельный вид и выводим на экран
print(final_table.rename(columns={'rating': 'quantity_of_five'}))

   movieId  quantity_of_five                             title       genres
0      318             31896  Shawshank Redemption, The (1994)  Crime|Drama

# Ответ: "Побег из Шоушенка"


# Второе задание
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
Не учитывайте в расчетах отрицательные значения quantity

In [11]:
# Грузим файл. Смотрим, что получилось
data_power = pd.read_csv('power.csv')
data_power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [38]:
# Последовательно фильтруем, по названию, по категории, по годам
data_rating_country = data_power [(data_power.country == 'Latvia') | (data_power.country == 'Lithuania') | (data_power.country == 'Estonia')]
data_rating_country_cat = data_rating_country [(data_rating_country.category == 4) | (data_rating_country.category == 12) | (data_rating_country.category == 21)]
data_rating_cou_cat_year = data_rating_country_cat [(data_rating_country_cat.year >= 2005) & (data_rating_country_cat.year <= 2010)]
data_rating_cou_cat_year

          country  year  quantity  category
10617     Estonia  2008       1.0         4
10618     Estonia  2007       0.0         4
10619     Estonia  2006       0.0         4
10620     Estonia  2005       1.0         4
11156   Lithuania  2008       1.0         4
11157   Lithuania  2007       0.0         4
11158   Lithuania  2006       1.0         4
11159   Lithuania  2005       1.0         4
12755     Estonia  2008       1.0         4
12756     Estonia  2007       0.0         4
12757     Estonia  2006       0.0         4
12758     Estonia  2005       1.0         4
13294   Lithuania  2008       1.0         4
13295   Lithuania  2007       0.0         4
13296   Lithuania  2006       1.0         4
13297   Lithuania  2005       1.0         4
14647      Latvia  2010       0.0         4
14648      Latvia  2009       0.0         4
14649      Latvia  2008       0.0         4
14650      Latvia  2007       0.0         4
15525     Estonia  2008       1.0         4
15526     Estonia  2007       0.0         4
15527     Estonia  2006       0.0         4
15528     Estonia  2005       1.0         4
16068   Lithuania  2008       1.0         4
16069   Lithuania  2007       0.0         4
16070   Lithuania  2006       1.0         4
16071   Lithuania  2005       1.0         4
17675     Estonia  2008       1.0         4
17676     Estonia  2007       0.0         4
...           ...   ...       ...       ...
248674  Lithuania  2008    4655.0        21
248675  Lithuania  2007    4613.0        21
248676  Lithuania  2006    4587.0        21
248677  Lithuania  2005    4556.0        21
251648  Lithuania  2009    1183.0        21
251649  Lithuania  2008    1183.0        21
251650  Lithuania  2007    1183.0        21
251651  Lithuania  2006    1183.0        21
251652  Lithuania  2005    1183.0        21
252593  Lithuania  2010       0.0        21
252594  Lithuania  2009       0.0        21
252595  Lithuania  2008       0.0        21
253561    Estonia  2010     108.0        21
253562    Estonia  2009     104.0        21
253563    Estonia  2008      77.0        21
253564    Estonia  2007      50.0        21
253565    Estonia  2006      31.0        21
253566    Estonia  2005      31.0        21
253962     Latvia  2010      32.0        21
253963     Latvia  2009      32.0        21
253964     Latvia  2008      28.0        21
253965     Latvia  2007      26.0        21
253966     Latvia  2006      27.0        21
253967     Latvia  2005      27.0        21
253981  Lithuania  2010     133.0        21
253982  Lithuania  2009      98.0        21
253983  Lithuania  2008      54.0        21
253984  Lithuania  2007      47.0        21
253985  Lithuania  2006      31.0        21
253986  Lithuania  2005       1.0        21

[411 rows x 4 columns]

In [33]:
# Здесь, искали Литву
data_power [data_power['country'].str.contains('Lit', case=False)]

           country  year  quantity  category
373      Lithuania  2014      39.0         1
374      Lithuania  2013     192.0         1
375      Lithuania  2012     196.0         1
376      Lithuania  2011     171.0         1
377      Lithuania  2010     158.0         1
378      Lithuania  2009     158.0         1
379      Lithuania  2008     100.0         1
380      Lithuania  2007     105.0         1
956      Lithuania  2014       0.0         1
957      Lithuania  2013       0.0         1
958      Lithuania  2012       0.0         1
959      Lithuania  2011       0.0         1
960      Lithuania  2010       0.0         1
961      Lithuania  2009       3.0         1
962      Lithuania  2008       9.0         1
963      Lithuania  2007       1.0         1
1154     Lithuania  2014      -2.0         1
1155     Lithuania  2013      -1.0         1
1156     Lithuania  2012       3.0         1
1157     Lithuania  2011      -7.0         1
1158     Lithuania  2010      -1.0         1
1159     Lithuania  2009       0.0         1
1160     Lithuania  2008       6.0         1
1161     Lithuania  2007      -6.0         1
1600     Lithuania  2014      41.0         1
1601     Lithuania  2013     193.0         1
1602     Lithuania  2012     193.0         1
1603     Lithuania  2011     178.0         1
1604     Lithuania  2010     159.0         1
1605     Lithuania  2009     161.0         1
...            ...   ...       ...       ...
1175965  Lithuania  2005    9226.0        68
1175966  Lithuania  2004    8678.0        68
1175967  Lithuania  2003    7168.0        68
1175968  Lithuania  2002    6605.0        68
1175969  Lithuania  2001    6815.0        68
1175970  Lithuania  2000    5048.0        68
1175971  Lithuania  1999    4615.0        68
1175972  Lithuania  1998    6891.0        68
1175973  Lithuania  1997    5645.0        68
1175974  Lithuania  1996    4178.0        68
1175975  Lithuania  1995    3568.0        68
1175976  Lithuania  1994    4114.0        68
1175977  Lithuania  1993    5200.0        68
1175978  Lithuania  1992    4100.0        68
1188851  Lithuania  2014     639.0        71
1188852  Lithuania  2013     603.0        71
1188853  Lithuania  2012     540.0        71
1188854  Lithuania  2011     475.0        71
1188855  Lithuania  2010     224.0        71
1188856  Lithuania  2009     158.0        71
1188857  Lithuania  2008     131.0        71
1188858  Lithuania  2007     106.0        71
1188859  Lithuania  2006      14.0        71
1188860  Lithuania  2005       2.0        71
1188861  Lithuania  2004       1.0        71
1188862  Lithuania  2003       0.0        71
1188863  Lithuania  2002       0.0        71
1188864  Lithuania  2001       0.0        71
1188865  Lithuania  2000       0.0        71
1188866  Lithuania  1999       0.0        71

[9313 rows x 4 columns]

In [31]:
# Здесь, искали Эстонию
data_power [data_power['country'].str.contains('est', case=False)]

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
10621    Estonia  2004       1.0         4
10622    Estonia  2003       1.0         4
10623    Estonia  2002       0.0         4
10624    Estonia  2001       1.0         4
10625    Estonia  2000       1.0         4
10626    Estonia  1999       1.0         4
10627    Estonia  1998       1.0         4
10628    Estonia  1997       1.0         4
10629    Estonia  1996       1.0         4
10630    Estonia  1995       1.0         4
10631    Estonia  1994       1.0         4
10632    Estonia  1993       1.0         4
10633    Estonia  1992       1.0         4
12755    Estonia  2008       1.0         4
12756    Estonia  2007       0.0         4
12757    Estonia  2006       0.0         4
12758    Estonia  2005       1.0         4
12759    Estonia  2004       1.0         4
12760    Estonia  2003       1.0         4
12761    Estonia  2002       0.0         4
12762    Estonia  2001       1.0         4
12763    Estonia  2000       1.0         4
12764    Estonia  1999       1.0         4
12765    Estonia  1998       1.0         4
12766    Estonia  1997       1.0         4
12767    Estonia  1996       1.0         4
...          ...   ...       ...       ...
1169957  Estonia  2006       1.0        67
1169958  Estonia  2005       1.0        67
1169959  Estonia  2004       1.0        67
1169960  Estonia  2003       1.0        67
1170613  Estonia  2014     590.0        67
1170614  Estonia  2013     524.0        67
1170615  Estonia  2012     433.0        67
1170616  Estonia  2011     368.0        67
1170617  Estonia  2010     276.0        67
1170618  Estonia  2009     194.0        67
1170619  Estonia  2008     132.0        67
1170620  Estonia  2007      90.0        67
1170621  Estonia  2006      75.0        67
1170622  Estonia  2005      53.0        67
1170623  Estonia  2004       7.0        67
1170624  Estonia  2003       5.0        67
1170625  Estonia  2002       1.0        67
1188452  Estonia  2014     604.0        71
1188453  Estonia  2013     529.0        71
1188454  Estonia  2012     434.0        71
1188455  Estonia  2011     368.0        71
1188456  Estonia  2010     277.0        71
1188457  Estonia  2009     195.0        71
1188458  Estonia  2008     133.0        71
1188459  Estonia  2007      91.0        71
1188460  Estonia  2006      76.0        71
1188461  Estonia  2005      54.0        71
1188462  Estonia  2004       8.0        71
1188463  Estonia  2003       6.0        71
1188464  Estonia  2002       1.0        71

[12964 rows x 4 columns]

In [39]:
# Суммируем и выводим ответ
summary = data_rating_cou_cat_year['quantity'].sum()
summary

240481.0

# Ответ: суммарное потребление 240481.0


# Третье задание 
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [48]:
data = pd.read_html('https://fortrader.org/quotes')
print(data)

[                               Type    Last   Chg.  Chg.%  Time
0  Нефть (BRENT) Курс нефти сегодня  59.800  0.200  0.340   NaN
1   Нефть (WTI) Цены на нефть (WTI)  55.650 -0.420 -0.750   NaN
2          Сахар котировки на сахар  12.630  0.000  0.000   NaN
3                   Газ Цена на газ   2.174 -0.035 -1.584   NaN,                                     Type          Last      Chg.     Chg.%  \
0                      ВТБ Акции ОАО ВТБ       0.03924  -0.00015  -0.38081
1                 Газпром Акции газпрома     231.23000     -0.65  -0.28000
2                    Лукоил Акции Лукойл    5274.00000     -45.0  -0.80000
3                Роснефть Акции Роснефти     410.00000     +1.95   0.48000
4               Сбербанк Акции Сбербанка     218.81000     +2.76   1.28000
5   Сургутнефтегаз Акции Сургутнефтегаза      25.81000    -0.280  -1.07300
6              Норникель Акции Норникель   15108.00000       -50  -0.00000
7               Аэрофлот Акции Аерофлота     111.00000    +14.19  14.66000
8            Северсталь Акции Северсталь     952.40000      -8.8  -0.90000
9            Транснефть Акции транснефти  148650.00000   -17 650 -11.00000
10     Ростелеком Курс акций ростелекома      81.10000     +8.27  11.36000
11                     RUSAL акции RUSAL       3.05000     +0.04   1.33000

    Time
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN  ,                           Type       Last    Chg.    Chg.%  Time
0      Серебро Цена на серебро    14.9870  -2.126 -12.4230   NaN
1      Платина Цены на платину   853.9000   3.900   0.5000   NaN
2    Палладий Цена на палладий  1461.1500 -20.150  -1.3600   NaN
3      Медь Цена меди на бирже     2.5765   0.003   0.1166   NaN
4  Золото Цена золота на бирже  1501.3500  -5.120  -0.3400   NaN,                                 Type    Last   Chg.  Chg.%  Time
0               Яндекс Акции яндекса   36.35  -0.12  -0.33   NaN
1          Microsoft Microsoft Corp.  138.52  31.24  29.12   NaN
2                  APPLE Акции APPLE  212.40   1.76   0.84   NaN
3                Toyota Акции Тойоты  120.94   0.00   0.00   NaN
4   Volkswagen Курс акций Volkswagen  146.16   1.55   1.07   NaN
5       Facebook Цена акций Facebook  183.60  -0.47  -0.26   NaN
6          Tesla Цены на акции Тесла  219.43  -6.55  -2.90   NaN
7          Twiter Цена акций твитера   42.67   0.37   0.87   NaN
8  Hasbro Цена на акции Hasbro, Inc.  115.28  30.41  35.83   NaN,                                                 Type       Last      Chg.  \
0                         EURUSD Курс евро к доллару    1.10827  -0.00171
1   AUDUSD Курс австралийского доллара к доллару сша    0.71501   0.03749
2         AUDCAD Australian Dollar / Canadian Dollar    0.95727   0.05492
3                          EURCHF Euro / Swiss Franc    1.14008   0.05497
4                  EURGBP Euro / Great Britain Pound    0.91412   0.00265
5                         EURJPY Euro / Japanese Yen  125.80000   7.90500
6          GBPJPY Great Britain Pound / Japanese Yen  145.40200  16.20700
7                        GBPUSD Курс фунта к доллару    1.21212  -0.00469
8       USDCAD Курс канадского доллара к доллару сша    1.33885   0.00737
9              NZDUSD New Zealand Dollar / US Dollar    0.66833   0.02706
10                    USDCHF US Dollar / Swiss Franc    1.01425   0.03669
11         USDCNH Курс китайского юаня к доллару США    7.06917  -0.00080
12                        USDJPY Курс йены к доллару  111.93100   5.72100

       Chg.%  Time
0   -0.15406   NaN
1    5.53342   NaN
2    6.08633   NaN
3    5.06585   NaN
4    0.29074   NaN
5    6.70500   NaN
6   12.54500   NaN
7   -0.38543   NaN
8    0.55352   NaN
9    4.21975   NaN
10   3.75322   NaN
11  -0.01132   NaN
12   5.38600   NaN  ,                                                  Type           Last  \
0                               Bitcoin Курс биткоина   10050.500000
1          Litecoin Курс лайткоин к доллару (LTC/USD)      72.705000
2   BitcoinCash Курс Биткоин кеш к доллару США (BC...     297.580000
3                                           Dash Dash      88.790000
4                                       Ripple Ripple       0.263730
5                                   Ethereum Ethereum     183.924000
6                                   EmerCoin EmerCoin       0.140050
7                                   NameCoin NameCoin       0.274000
8                                   PeerCoin PeerCoin       1.300000
9                             BTCRUB биткоин в рублях  247059.000000
10                              BTCEUR биткоин в евро    8994.020000
11                                        Zcash (ZEC)      49.341000
12                                          NEO (NEO)       9.393800
13                                          EOS (EOS)       3.491100
14                                         TRON (TRX)       0.016657
15                                             Monero      81.117000
16                                            Cardano       0.049171
17                                               IOTA       0.238000
18                       ETC/USD эфириум классик, ETC       5.972500

         Chg.      Chg.%  Time
0    -646.500  -6.044000   NaN
1      -2.587  -3.436000   NaN
2     -15.150  -4.844000   NaN
3      -4.590  -4.915000   NaN
4    -0.00988  -3.610980   NaN
5     -12.697  -6.458000   NaN
6     0.00000   0.000000   NaN
7      -0.051 -15.692000   NaN
8       +0.16  14.040000   NaN
9   -3 097.00  -1.240000   NaN
10   -572.980  -5.989000   NaN
11     -2.736  -5.254000   NaN
12    -0.5332  -5.371200   NaN
13    -0.1862  -5.063500   NaN
14  -0.000893  -5.088319   NaN
15     -4.971  -5.774000   NaN
16  +0.000582   1.197802   NaN
17     -0.012  -4.823000   NaN
18    -0.0743  -1.228700   NaN  ,                                        Type       Last    Chg.  Chg.%  Time
0   Фьючерс РТС Курс фьючерса на индекс РТС  118130.00    0.00   0.00   NaN
1                      РТС Курс индекса РТС    1278.55   15.20   1.20   NaN
2                                     DAX30   12270.70  644.50   5.50   NaN
3                       Индекс Dow 30 (DJI)   26174.00  296.00   1.00   NaN
4                                      FTSE    7137.70   42.20   0.60   NaN
5                                    CAC 40    5279.70    0.00   0.00   NaN
6                                Nasdaq 100    7731.27   74.95   0.98   NaN
7                              Russell 2000    1594.50    6.20   0.40   NaN
8                                   S&P 500    2816.30   10.80   0.40   NaN
9                                   IBEX 35    9595.40  970.40  11.30   NaN
10                               Nikkei 225   21779.00   39.00   0.00   NaN
11                            Euro Stoxx 50    3513.20  173.50   5.20   NaN
12                                  S&P 500    2904.60    4.30   0.10   NaN
13                              S&P/ASX 200    6288.50 -218.40  -3.40   NaN
14                                      MIB   20828.00  331.00   2.00   NaN,                                Type     Last    Chg.   Chg.%  Time
0  EURRUB Курс евро к рублю сегодня  72.9549 -0.7878 -1.0683   NaN
1       USDRUB Курс рубля к доллару  65.8361 -0.3209 -0.4851   NaN]