In [1]:
import pandas as pd

# Задание 1

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [10]:
def classes (verdict):
    """ Функция для классификации фильмов по укрупненному рейтингу """
    if verdict['rating'] > 4:
        return "высокий рейтинг"
    elif verdict['rating'] > 2:
        return "средний рейтинг"
    else:
        return "низкий рейтинг"

ratings['class'] = ratings.apply(classes, axis = 1)   
ratings

        userId  movieId  rating   timestamp            class
0            1       31     2.5  1260759144  средний рейтинг
1            1     1029     3.0  1260759179  средний рейтинг
2            1     1061     3.0  1260759182  средний рейтинг
3            1     1129     2.0  1260759185   низкий рейтинг
4            1     1172     4.0  1260759205  средний рейтинг
5            1     1263     2.0  1260759151   низкий рейтинг
6            1     1287     2.0  1260759187   низкий рейтинг
7            1     1293     2.0  1260759148   низкий рейтинг
8            1     1339     3.5  1260759125  средний рейтинг
9            1     1343     2.0  1260759131   низкий рейтинг
10           1     1371     2.5  1260759135  средний рейтинг
11           1     1405     1.0  1260759203   низкий рейтинг
12           1     1953     4.0  1260759191  средний рейтинг
13           1     2105     4.0  1260759139  средний рейтинг
14           1     2150     3.0  1260759194  средний рейтинг
15           1     2193     2.0  1260759198   низкий рейтинг
16           1     2294     2.0  1260759108   низкий рейтинг
17           1     2455     2.5  1260759113  средний рейтинг
18           1     2968     1.0  1260759200   низкий рейтинг
19           1     3671     3.0  1260759117  средний рейтинг
20           2       10     4.0   835355493  средний рейтинг
21           2       17     5.0   835355681  высокий рейтинг
22           2       39     5.0   835355604  высокий рейтинг
23           2       47     4.0   835355552  средний рейтинг
24           2       50     4.0   835355586  средний рейтинг
25           2       52     3.0   835356031  средний рейтинг
26           2       62     3.0   835355749  средний рейтинг
27           2      110     4.0   835355532  средний рейтинг
28           2      144     3.0   835356016  средний рейтинг
29           2      150     5.0   835355395  высокий рейтинг
...        ...      ...     ...         ...              ...
99974      671     4034     4.5  1064245493  высокий рейтинг
99975      671     4306     5.0  1064245548  высокий рейтинг
99976      671     4308     3.5  1065111985  средний рейтинг
99977      671     4880     4.0  1065111973  средний рейтинг
99978      671     4886     5.0  1064245488  высокий рейтинг
99979      671     4896     5.0  1065111996  высокий рейтинг
99980      671     4963     4.5  1065111855  высокий рейтинг
99981      671     4973     4.5  1064245471  высокий рейтинг
99982      671     4993     5.0  1064245483  высокий рейтинг
99983      671     4995     4.0  1064891537  средний рейтинг
99984      671     5010     2.0  1066793004   низкий рейтинг
99985      671     5218     2.0  1065111990   низкий рейтинг
99986      671     5299     3.0  1065112004  средний рейтинг
99987      671     5349     4.0  1065111863  средний рейтинг
99988      671     5377     4.0  1064245557  средний рейтинг
99989      671     5445     4.5  1064891627  высокий рейтинг
99990      671     5464     3.0  1064891549  средний рейтинг
99991      671     5669     4.0  1063502711  средний рейтинг
99992      671     5816     4.0  1065111963  средний рейтинг
99993      671     5902     3.5  1064245507  средний рейтинг
99994      671     5952     5.0  1063502716  высокий рейтинг
99995      671     5989     4.0  1064890625  средний рейтинг
99996      671     5991     4.5  1064245387  высокий рейтинг
99997      671     5995     4.0  1066793014  средний рейтинг
99998      671     6212     2.5  1065149436  средний рейтинг
99999      671     6268     2.5  1065579370  средний рейтинг
100000     671     6269     4.0  1065149201  средний рейтинг
100001     671     6365     4.0  1070940363  средний рейтинг
100002     671     6385     2.5  1070979663  средний рейтинг
100003     671     6565     3.5  1074784724  средний рейтинг

[100004 rows x 5 columns]

# Задание 2

In [16]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
print(geo_data)

{'Центр': ['москва', 'тула', 'ярославль'], 'Северо-Запад': ['петербург', 'псков', 'мурманск'], 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [18]:
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [68]:
def geo_option (phrase):
    """ Функция ищет город в ключевой фразе и распределяет по регионам """
    geo = {'Центр': ['москва', 'тула', 'ярославль'],
          'Северо-Запад': ['петербург', 'псков', 'мурманск'],
          'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}
    for key in geo:
        for city in geo [key]:
            if city in phrase['keyword']:
                return key
    return 'undefined'
keywords ['region'] = keywords.apply(geo_option, axis = 1)

keywords['region'].unique()           
# К сожалению, у меня не получилось словарь geo_data  сделать вторым параметром функции
# ошибка - слишком много аргументов для axis. Как в таких случаях быт?

array(['undefined', 'Центр', 'Северо-Запад', 'Дальний Восток'],
      dtype=object)

# Задание 3

In [77]:
movies = pd.read_csv('ml-latest-small\movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [83]:
ratings = pd.read_csv('ml-latest-small\\ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [57]:
years = range (1950, 2011)
type(years)

range

In [85]:
def production_year (movies):
    years = range (1950, 2020)
    for year in years:
        if str(year) in movies['title']:
            return year
    return 1900
movies ['year'] = movies.apply(production_year, axis = 1)
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [86]:
final_table = movies.merge(ratings, on='movieId', how='left')
final_table.head()

,movieId,title,genres,year,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,7.0,3.0,8.518667e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,9.0,4.0,9.386292e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,13.0,5.0,1.331380e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,15.0,2.0,9.979383e+08
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,19.0,3.0,8.551901e+08

In [93]:
final_table.groupby('year').mean()['rating'].reset_index().sort_values('rating', ascending=False).head()

    year    rating
8   1957  4.014241
23  1972  4.011136
3   1952  4.000000
5   1954  3.994220
2   1951  3.983539