In [2]:
import pandas as pd

# Задание 1
Посчитайте среднее время жизни пользователей, 
которые выставили более 100 оценок. 
Под временем жизни понимается разница между максимальным 
и минимальным значением столбца timestamp для данного значения userId

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
group_by_userId = ratings.groupby('userId').agg({'timestamp': ['min', 'max'], 'rating': 'sum', 'movieId': 'count'})
group_by_userId.head()

         timestamp             rating movieId
               min         max    sum   count
userId
1       1260759108  1260759205   51.0      20
2        835355395   835356246  265.0      76
3       1298861589  1298932787  182.0      51
4        949778714   949982274  887.0     204
5       1163373044  1163375145  391.0     100

In [12]:
group_by_userId_filtered = group_by_userId [group_by_userId.movieId['count'] > 100]
group_by_userId_filtered.head()

         timestamp              rating movieId
               min         max     sum   count
userId
4        949778714   949982274   887.0     204
8       1154389340  1154474527   448.5     116
15       997937239  1469330735  4457.0    1700
17      1127468587  1127476640  1359.0     363
19       855190091   855195373  1495.0     423

In [13]:
group_by_userId_filtered['difference'] = group_by_userId_filtered.timestamp['max']-group_by_userId_filtered.timestamp['min']
group_by_userId_filtered.head()

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

         timestamp              rating movieId difference
               min         max     sum   count
userId
4        949778714   949982274   887.0     204     203560
8       1154389340  1154474527   448.5     116      85187
15       997937239  1469330735  4457.0    1700  471393496
17      1127468587  1127476640  1359.0     363       8053
19       855190091   855195373  1495.0     423       5282

In [14]:
average_lifetime = group_by_userId_filtered['difference'].mean()
average_lifetime

40080507.4496124

При исполнении 13-ой строки Python заругался, как я понял, что я создаю лишние данные, что целесообразнее заменить имеющиеся данные на новые.
Не понял, как с этим бороться. Пробовал занести данные в столбец timestamp['max'] (как я понял, что-то подобное предлагается в документации), 
вышло то же предупреждение

# Задание 2

Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия). Необходимо сформировать две таблицы:

- таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
- аналогичную таблицу по типам выручки с указанием адреса клиента

Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [21]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [22]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [9]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air = air [['client_id', 'air_revenue']]
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [6]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [26]:
rzd_auto = pd.merge(rzd, auto, how='outer', on='client_id')
rzd_auto

   client_id  rzd_revenue  auto_revenue
0        111       1093.0           NaN
1        112       2810.0           NaN
2        113      10283.0       57483.0
3        114       5774.0          83.0
4        115        981.0         912.0
5        116          NaN        4834.0
6        117          NaN          98.0

In [27]:
rzd_auto_air = pd.merge(rzd_auto, air, how='outer', on='client_id')
rzd_auto_air

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0

In [28]:
rzd_auto_air_address = pd.merge(rzd_auto_air, client_base, how='outer', on='client_id')
rzd_auto_air_address

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           NaN          NaN  Комсомольская 4
1        112       2810.0           NaN          NaN   Энтузиастов 8а
2        113      10283.0       57483.0          NaN  Левобережная 1а
3        114       5774.0          83.0          NaN          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          NaN        4834.0          4.0    Строителей 18
6        117          NaN          98.0         13.0  Панфиловская 33
7        118          NaN           NaN        173.0     Мастеркова 4

# Задание 3
В задаче сквозной аналитики вам предоставили данные по местоположению пользователей. Т. е. для каждого user_id известна последовательность координат (широта/долгота), когда они требовались приложению для полноценной работы. Как бы вы добавили эти сведения в таблицу визитов и покупок?

Не нашел нужных файлов, видимо задача носит теоретический характер.
Как я понял, каждому пользователю будет соответствовать некий набор координат полученных последовательно в ходе исполнения программы (у каждого свой).
Возможно ответ следующий. Очевидно, следует сделать файл похожий по структуре на словарь, как изложено в лекции. Каждому Id пользователя будет соответствовать некоторый набор координат.
Ниже я попытался выяснить, какой из методов наиболее приемлемый с точки зрения минимизации затрат памяти.

In [33]:
import sys

In [34]:
sys.getsizeof('55°45′07″')

92

In [36]:
sys.getsizeof(55)

28

In [37]:
sys.getsizeof(45)

28

In [39]:
sys.getsizeof(7)

28

In [40]:
sys.getsizeof(55.751944)

24

In [41]:
sys.getsizeof([55,45,7])

88

In [42]:
sys.getsizeof((55,45,7))

72

In [59]:
sys.getsizeof((55.751944,55.751944))

64

In [61]:
sys.getsizeof(((55.751944,55.751944),(55.751944,55.751944),(55.751944,55.751944),(55.751944,55.751944)))

80

In [66]:
sys.getsizeof([[55.751944,55.751944]])

72

In [62]:
sys.getsizeof([[55.751944,55.751944],[55.751944,55.751944],[55.751944,55.751944]])

88

In [47]:
sys.getsizeof({1:(55.751944,55.751944)})

240

In [51]:
sys.getsizeof({1:(55.751944,55.751944),2:(55.751944,55.751944),3:(55.751944,55.751944),4:(55.751944,55.751944),5:(55.751944,55.751944)})

240

In [75]:
numbers = {x: (55.751944,55.751944) for x in range(1000)}

sys.getsizeof(numbers)

36968

In [77]:
numbers

{0: (55.751944, 55.751944),
 1: (55.751944, 55.751944),
 2: (55.751944, 55.751944),
 3: (55.751944, 55.751944),
 4: (55.751944, 55.751944),
 5: (55.751944, 55.751944),
 6: (55.751944, 55.751944),
 7: (55.751944, 55.751944),
 8: (55.751944, 55.751944),
 9: (55.751944, 55.751944),
 10: (55.751944, 55.751944),
 11: (55.751944, 55.751944),
 12: (55.751944, 55.751944),
 13: (55.751944, 55.751944),
 14: (55.751944, 55.751944),
 15: (55.751944, 55.751944),
 16: (55.751944, 55.751944),
 17: (55.751944, 55.751944),
 18: (55.751944, 55.751944),
 19: (55.751944, 55.751944),
 20: (55.751944, 55.751944),
 21: (55.751944, 55.751944),
 22: (55.751944, 55.751944),
 23: (55.751944, 55.751944),
 24: (55.751944, 55.751944),
 25: (55.751944, 55.751944),
 26: (55.751944, 55.751944),
 27: (55.751944, 55.751944),
 28: (55.751944, 55.751944),
 29: (55.751944, 55.751944),
 30: (55.751944, 55.751944),
 31: (55.751944, 55.751944),
 32: (55.751944, 55.751944),
 33: (55.751944, 55.751944),
 34: (55.751944, 55.751944),
 35: (55.751944, 55.751944),
 36: (55.751944, 55.751944),
 37: (55.751944, 55.751944),
 38: (55.751944, 55.751944),
 39: (55.751944, 55.751944),
 40: (55.751944, 55.751944),
 41: (55.751944, 55.751944),
 42: (55.751944, 55.751944),
 43: (55.751944, 55.751944),
 44: (55.751944, 55.751944),
 45: (55.751944, 55.751944),
 46: (55.751944, 55.751944),
 47: (55.751944, 55.751944),
 48: (55.751944, 55.751944),
 49: (55.751944, 55.751944),
 50: (55.751944, 55.751944),
 51: (55.751944, 55.751944),
 52: (55.751944, 55.751944),
 53: (55.751944, 55.751944),
 54: (55.751944, 55.751944),
 55: (55.751944, 55.751944),
 56: (55.751944, 55.751944),
 57: (55.751944, 55.751944),
 58: (55.751944, 55.751944),
 59: (55.751944, 55.751944),
 60: (55.751944, 55.751944),
 61: (55.751944, 55.751944),
 62: (55.751944, 55.751944),
 63: (55.751944, 55.751944),
 64: (55.751944, 55.751944),
 65: (55.751944, 55.751944),
 66: (55.751944, 55.751944),
 67: (55.751944, 55.751944),
 68: (55.751944, 55.751944),
 69: (55.751944, 55.751944),
 70: (55.751944, 55.751944),
 71: (55.751944, 55.751944),
 72: (55.751944, 55.751944),
 73: (55.751944, 55.751944),
 74: (55.751944, 55.751944),
 75: (55.751944, 55.751944),
 76: (55.751944, 55.751944),
 77: (55.751944, 55.751944),
 78: (55.751944, 55.751944),
 79: (55.751944, 55.751944),
 80: (55.751944, 55.751944),
 81: (55.751944, 55.751944),
 82: (55.751944, 55.751944),
 83: (55.751944, 55.751944),
 84: (55.751944, 55.751944),
 85: (55.751944, 55.751944),
 86: (55.751944, 55.751944),
 87: (55.751944, 55.751944),
 88: (55.751944, 55.751944),
 89: (55.751944, 55.751944),
 90: (55.751944, 55.751944),
 91: (55.751944, 55.751944),
 92: (55.751944, 55.751944),
 93: (55.751944, 55.751944),
 94: (55.751944, 55.751944),
 95: (55.751944, 55.751944),
 96: (55.751944, 55.751944),
 97: (55.751944, 55.751944),
 98: (55.751944, 55.751944),
 99: (55.751944, 55.751944),
 100: (55.751944, 55.751944),
 101: (55.751944, 55.751944),
 102: (55.751944, 55.751944),
 103: (55.751944, 55.751944),
 104: (55.751944, 55.751944),
 105: (55.751944, 55.751944),
 106: (55.751944, 55.751944),
 107: (55.751944, 55.751944),
 108: (55.751944, 55.751944),
 109: (55.751944, 55.751944),
 110: (55.751944, 55.751944),
 111: (55.751944, 55.751944),
 112: (55.751944, 55.751944),
 113: (55.751944, 55.751944),
 114: (55.751944, 55.751944),
 115: (55.751944, 55.751944),
 116: (55.751944, 55.751944),
 117: (55.751944, 55.751944),
 118: (55.751944, 55.751944),
 119: (55.751944, 55.751944),
 120: (55.751944, 55.751944),
 121: (55.751944, 55.751944),
 122: (55.751944, 55.751944),
 123: (55.751944, 55.751944),
 124: (55.751944, 55.751944),
 125: (55.751944, 55.751944),
 126: (55.751944, 55.751944),
 127: (55.751944, 55.751944),
 128: (55.751944, 55.751944),
 129: (55.751944, 55.751944),
 130: (55.751944, 55.751944),
 131: (55.751944, 55.751944),
 132: (55.751944, 55.751944),
 133: (55.751944, 55.751944),
 134: (55.751944, 55.751944),
 135: (55.751944, 55.751944),
 136: (55.751944, 55.751944),
 137: (55.751944, 55.751944),
 138: (55.751944, 55.751944),
 139: (55.751944, 55.751944),
 140: (55.751944, 55.751944),
 141: (55.751944, 55.751944),
 142: (55.751944, 55.751944),
 143: (55.751944, 55.751944),
 144: (55.751944, 55.751944),
 145: (55.751944, 55.751944),
 146: (55.751944, 55.751944),
 147: (55.751944, 55.751944),
 148: (55.751944, 55.751944),
 149: (55.751944, 55.751944),
 150: (55.751944, 55.751944),
 151: (55.751944, 55.751944),
 152: (55.751944, 55.751944),
 153: (55.751944, 55.751944),
 154: (55.751944, 55.751944),
 155: (55.751944, 55.751944),
 156: (55.751944, 55.751944),
 157: (55.751944, 55.751944),
 158: (55.751944, 55.751944),
 159: (55.751944, 55.751944),
 160: (55.751944, 55.751944),
 161: (55.751944, 55.751944),
 162: (55.751944, 55.751944),
 163: (55.751944, 55.751944),
 164: (55.751944, 55.751944),
 165: (55.751944, 55.751944),
 166: (55.751944, 55.751944),
 167: (55.751944, 55.751944),
 168: (55.751944, 55.751944),
 169: (55.751944, 55.751944),
 170: (55.751944, 55.751944),
 171: (55.751944, 55.751944),
 172: (55.751944, 55.751944),
 173: (55.751944, 55.751944),
 174: (55.751944, 55.751944),
 175: (55.751944, 55.751944),
 176: (55.751944, 55.751944),
 177: (55.751944, 55.751944),
 178: (55.751944, 55.751944),
 179: (55.751944, 55.751944),
 180: (55.751944, 55.751944),
 181: (55.751944, 55.751944),
 182: (55.751944, 55.751944),
 183: (55.751944, 55.751944),
 184: (55.751944, 55.751944),
 185: (55.751944, 55.751944),
 186: (55.751944, 55.751944),
 187: (55.751944, 55.751944),
 188: (55.751944, 55.751944),
 189: (55.751944, 55.751944),
 190: (55.751944, 55.751944),
 191: (55.751944, 55.751944),
 192: (55.751944, 55.751944),
 193: (55.751944, 55.751944),
 194: (55.751944, 55.751944),
 195: (55.751944, 55.751944),
 196: (55.751944, 55.751944),
 197: (55.751944, 55.751944),
 198: (55.751944, 55.751944),
 199: (55.751944, 55.751944),
 200: (55.751944, 55.751944),
 201: (55.751944, 55.751944),
 202: (55.751944, 55.751944),
 203: (55.751944, 55.751944),
 204: (55.751944, 55.751944),
 205: (55.751944, 55.751944),
 206: (55.751944, 55.751944),
 207: (55.751944, 55.751944),
 208: (55.751944, 55.751944),
 209: (55.751944, 55.751944),
 210: (55.751944, 55.751944),
 211: (55.751944, 55.751944),
 212: (55.751944, 55.751944),
 213: (55.751944, 55.751944),
 214: (55.751944, 55.751944),
 215: (55.751944, 55.751944),
 216: (55.751944, 55.751944),
 217: (55.751944, 55.751944),
 218: (55.751944, 55.751944),
 219: (55.751944, 55.751944),
 220: (55.751944, 55.751944),
 221: (55.751944, 55.751944),
 222: (55.751944, 55.751944),
 223: (55.751944, 55.751944),
 224: (55.751944, 55.751944),
 225: (55.751944, 55.751944),
 226: (55.751944, 55.751944),
 227: (55.751944, 55.751944),
 228: (55.751944, 55.751944),
 229: (55.751944, 55.751944),
 230: (55.751944, 55.751944),
 231: (55.751944, 55.751944),
 232: (55.751944, 55.751944),
 233: (55.751944, 55.751944),
 234: (55.751944, 55.751944),
 235: (55.751944, 55.751944),
 236: (55.751944, 55.751944),
 237: (55.751944, 55.751944),
 238: (55.751944, 55.751944),
 239: (55.751944, 55.751944),
 240: (55.751944, 55.751944),
 241: (55.751944, 55.751944),
 242: (55.751944, 55.751944),
 243: (55.751944, 55.751944),
 244: (55.751944, 55.751944),
 245: (55.751944, 55.751944),
 246: (55.751944, 55.751944),
 247: (55.751944, 55.751944),
 248: (55.751944, 55.751944),
 249: (55.751944, 55.751944),
 250: (55.751944, 55.751944),
 251: (55.751944, 55.751944),
 252: (55.751944, 55.751944),
 253: (55.751944, 55.751944),
 254: (55.751944, 55.751944),
 255: (55.751944, 55.751944),
 256: (55.751944, 55.751944),
 257: (55.751944, 55.751944),
 258: (55.751944, 55.751944),
 259: (55.751944, 55.751944),
 260: (55.751944, 55.751944),
 261: (55.751944, 55.751944),
 262: (55.751944, 55.751944),
 263: (55.751944, 55.751944),
 264: (55.751944, 55.751944),
 265: (55.751944, 55.751944),
 266: (55.751944, 55.751944),
 267: (55.751944, 55.751944),
 268: (55.751944, 55.751944),
 269: (55.751944, 55.751944),
 270: (55.751944, 55.751944),
 271: (55.751944, 55.751944),
 272: (55.751944, 55.751944),
 273: (55.751944, 55.751944),
 274: (55.751944, 55.751944),
 275: (55.751944, 55.751944),
 276: (55.751944, 55.751944),
 277: (55.751944, 55.751944),
 278: (55.751944, 55.751944),
 279: (55.751944, 55.751944),
 280: (55.751944, 55.751944),
 281: (55.751944, 55.751944),
 282: (55.751944, 55.751944),
 283: (55.751944, 55.751944),
 284: (55.751944, 55.751944),
 285: (55.751944, 55.751944),
 286: (55.751944, 55.751944),
 287: (55.751944, 55.751944),
 288: (55.751944, 55.751944),
 289: (55.751944, 55.751944),
 290: (55.751944, 55.751944),
 291: (55.751944, 55.751944),
 292: (55.751944, 55.751944),
 293: (55.751944, 55.751944),
 294: (55.751944, 55.751944),
 295: (55.751944, 55.751944),
 296: (55.751944, 55.751944),
 297: (55.751944, 55.751944),
 298: (55.751944, 55.751944),
 299: (55.751944, 55.751944),
 300: (55.751944, 55.751944),
 301: (55.751944, 55.751944),
 302: (55.751944, 55.751944),
 303: (55.751944, 55.751944),
 304: (55.751944, 55.751944),
 305: (55.751944, 55.751944),
 306: (55.751944, 55.751944),
 307: (55.751944, 55.751944),
 308: (55.751944, 55.751944),
 309: (55.751944, 55.751944),
 310: (55.751944, 55.751944),
 311: (55.751944, 55.751944),
 312: (55.751944, 55.751944),
 313: (55.751944, 55.751944),
 314: (55.751944, 55.751944),
 315: (55.751944, 55.751944),
 316: (55.751944, 55.751944),
 317: (55.751944, 55.751944),
 318: (55.751944, 55.751944),
 319: (55.751944, 55.751944),
 320: (55.751944, 55.751944),
 321: (55.751944, 55.751944),
 322: (55.751944, 55.751944),
 323: (55.751944, 55.751944),
 324: (55.751944, 55.751944),
 325: (55.751944, 55.751944),
 326: (55.751944, 55.751944),
 327: (55.751944, 55.751944),
 328: (55.751944, 55.751944),
 329: (55.751944, 55.751944),
 330: (55.751944, 55.751944),
 331: (55.751944, 55.751944),
 332: (55.751944, 55.751944),
 333: (55.751944, 55.751944),
 334: (55.751944, 55.751944),
 335: (55.751944, 55.751944),
 336: (55.751944, 55.751944),
 337: (55.751944, 55.751944),
 338: (55.751944, 55.751944),
 339: (55.751944, 55.751944),
 340: (55.751944, 55.751944),
 341: (55.751944, 55.751944),
 342: (55.751944, 55.751944),
 343: (55.751944, 55.751944),
 344: (55.751944, 55.751944),
 345: (55.751944, 55.751944),
 346: (55.751944, 55.751944),
 347: (55.751944, 55.751944),
 348: (55.751944, 55.751944),
 349: (55.751944, 55.751944),
 350: (55.751944, 55.751944),
 351: (55.751944, 55.751944),
 352: (55.751944, 55.751944),
 353: (55.751944, 55.751944),
 354: (55.751944, 55.751944),
 355: (55.751944, 55.751944),
 356: (55.751944, 55.751944),
 357: (55.751944, 55.751944),
 358: (55.751944, 55.751944),
 359: (55.751944, 55.751944),
 360: (55.751944, 55.751944),
 361: (55.751944, 55.751944),
 362: (55.751944, 55.751944),
 363: (55.751944, 55.751944),
 364: (55.751944, 55.751944),
 365: (55.751944, 55.751944),
 366: (55.751944, 55.751944),
 367: (55.751944, 55.751944),
 368: (55.751944, 55.751944),
 369: (55.751944, 55.751944),
 370: (55.751944, 55.751944),
 371: (55.751944, 55.751944),
 372: (55.751944, 55.751944),
 373: (55.751944, 55.751944),
 374: (55.751944, 55.751944),
 375: (55.751944, 55.751944),
 376: (55.751944, 55.751944),
 377: (55.751944, 55.751944),
 378: (55.751944, 55.751944),
 379: (55.751944, 55.751944),
 380: (55.751944, 55.751944),
 381: (55.751944, 55.751944),
 382: (55.751944, 55.751944),
 383: (55.751944, 55.751944),
 384: (55.751944, 55.751944),
 385: (55.751944, 55.751944),
 386: (55.751944, 55.751944),
 387: (55.751944, 55.751944),
 388: (55.751944, 55.751944),
 389: (55.751944, 55.751944),
 390: (55.751944, 55.751944),
 391: (55.751944, 55.751944),
 392: (55.751944, 55.751944),
 393: (55.751944, 55.751944),
 394: (55.751944, 55.751944),
 395: (55.751944, 55.751944),
 396: (55.751944, 55.751944),
 397: (55.751944, 55.751944),
 398: (55.751944, 55.751944),
 399: (55.751944, 55.751944),
 400: (55.751944, 55.751944),
 401: (55.751944, 55.751944),
 402: (55.751944, 55.751944),
 403: (55.751944, 55.751944),
 404: (55.751944, 55.751944),
 405: (55.751944, 55.751944),
 406: (55.751944, 55.751944),
 407: (55.751944, 55.751944),
 408: (55.751944, 55.751944),
 409: (55.751944, 55.751944),
 410: (55.751944, 55.751944),
 411: (55.751944, 55.751944),
 412: (55.751944, 55.751944),
 413: (55.751944, 55.751944),
 414: (55.751944, 55.751944),
 415: (55.751944, 55.751944),
 416: (55.751944, 55.751944),
 417: (55.751944, 55.751944),
 418: (55.751944, 55.751944),
 419: (55.751944, 55.751944),
 420: (55.751944, 55.751944),
 421: (55.751944, 55.751944),
 422: (55.751944, 55.751944),
 423: (55.751944, 55.751944),
 424: (55.751944, 55.751944),
 425: (55.751944, 55.751944),
 426: (55.751944, 55.751944),
 427: (55.751944, 55.751944),
 428: (55.751944, 55.751944),
 429: (55.751944, 55.751944),
 430: (55.751944, 55.751944),
 431: (55.751944, 55.751944),
 432: (55.751944, 55.751944),
 433: (55.751944, 55.751944),
 434: (55.751944, 55.751944),
 435: (55.751944, 55.751944),
 436: (55.751944, 55.751944),
 437: (55.751944, 55.751944),
 438: (55.751944, 55.751944),
 439: (55.751944, 55.751944),
 440: (55.751944, 55.751944),
 441: (55.751944, 55.751944),
 442: (55.751944, 55.751944),
 443: (55.751944, 55.751944),
 444: (55.751944, 55.751944),
 445: (55.751944, 55.751944),
 446: (55.751944, 55.751944),
 447: (55.751944, 55.751944),
 448: (55.751944, 55.751944),
 449: (55.751944, 55.751944),
 450: (55.751944, 55.751944),
 451: (55.751944, 55.751944),
 452: (55.751944, 55.751944),
 453: (55.751944, 55.751944),
 454: (55.751944, 55.751944),
 455: (55.751944, 55.751944),
 456: (55.751944, 55.751944),
 457: (55.751944, 55.751944),
 458: (55.751944, 55.751944),
 459: (55.751944, 55.751944),
 460: (55.751944, 55.751944),
 461: (55.751944, 55.751944),
 462: (55.751944, 55.751944),
 463: (55.751944, 55.751944),
 464: (55.751944, 55.751944),
 465: (55.751944, 55.751944),
 466: (55.751944, 55.751944),
 467: (55.751944, 55.751944),
 468: (55.751944, 55.751944),
 469: (55.751944, 55.751944),
 470: (55.751944, 55.751944),
 471: (55.751944, 55.751944),
 472: (55.751944, 55.751944),
 473: (55.751944, 55.751944),
 474: (55.751944, 55.751944),
 475: (55.751944, 55.751944),
 476: (55.751944, 55.751944),
 477: (55.751944, 55.751944),
 478: (55.751944, 55.751944),
 479: (55.751944, 55.751944),
 480: (55.751944, 55.751944),
 481: (55.751944, 55.751944),
 482: (55.751944, 55.751944),
 483: (55.751944, 55.751944),
 484: (55.751944, 55.751944),
 485: (55.751944, 55.751944),
 486: (55.751944, 55.751944),
 487: (55.751944, 55.751944),
 488: (55.751944, 55.751944),
 489: (55.751944, 55.751944),
 490: (55.751944, 55.751944),
 491: (55.751944, 55.751944),
 492: (55.751944, 55.751944),
 493: (55.751944, 55.751944),
 494: (55.751944, 55.751944),
 495: (55.751944, 55.751944),
 496: (55.751944, 55.751944),
 497: (55.751944, 55.751944),
 498: (55.751944, 55.751944),
 499: (55.751944, 55.751944),
 500: (55.751944, 55.751944),
 501: (55.751944, 55.751944),
 502: (55.751944, 55.751944),
 503: (55.751944, 55.751944),
 504: (55.751944, 55.751944),
 505: (55.751944, 55.751944),
 506: (55.751944, 55.751944),
 507: (55.751944, 55.751944),
 508: (55.751944, 55.751944),
 509: (55.751944, 55.751944),
 510: (55.751944, 55.751944),
 511: (55.751944, 55.751944),
 512: (55.751944, 55.751944),
 513: (55.751944, 55.751944),
 514: (55.751944, 55.751944),
 515: (55.751944, 55.751944),
 516: (55.751944, 55.751944),
 517: (55.751944, 55.751944),
 518: (55.751944, 55.751944),
 519: (55.751944, 55.751944),
 520: (55.751944, 55.751944),
 521: (55.751944, 55.751944),
 522: (55.751944, 55.751944),
 523: (55.751944, 55.751944),
 524: (55.751944, 55.751944),
 525: (55.751944, 55.751944),
 526: (55.751944, 55.751944),
 527: (55.751944, 55.751944),
 528: (55.751944, 55.751944),
 529: (55.751944, 55.751944),
 530: (55.751944, 55.751944),
 531: (55.751944, 55.751944),
 532: (55.751944, 55.751944),
 533: (55.751944, 55.751944),
 534: (55.751944, 55.751944),
 535: (55.751944, 55.751944),
 536: (55.751944, 55.751944),
 537: (55.751944, 55.751944),
 538: (55.751944, 55.751944),
 539: (55.751944, 55.751944),
 540: (55.751944, 55.751944),
 541: (55.751944, 55.751944),
 542: (55.751944, 55.751944),
 543: (55.751944, 55.751944),
 544: (55.751944, 55.751944),
 545: (55.751944, 55.751944),
 546: (55.751944, 55.751944),
 547: (55.751944, 55.751944),
 548: (55.751944, 55.751944),
 549: (55.751944, 55.751944),
 550: (55.751944, 55.751944),
 551: (55.751944, 55.751944),
 552: (55.751944, 55.751944),
 553: (55.751944, 55.751944),
 554: (55.751944, 55.751944),
 555: (55.751944, 55.751944),
 556: (55.751944, 55.751944),
 557: (55.751944, 55.751944),
 558: (55.751944, 55.751944),
 559: (55.751944, 55.751944),
 560: (55.751944, 55.751944),
 561: (55.751944, 55.751944),
 562: (55.751944, 55.751944),
 563: (55.751944, 55.751944),
 564: (55.751944, 55.751944),
 565: (55.751944, 55.751944),
 566: (55.751944, 55.751944),
 567: (55.751944, 55.751944),
 568: (55.751944, 55.751944),
 569: (55.751944, 55.751944),
 570: (55.751944, 55.751944),
 571: (55.751944, 55.751944),
 572: (55.751944, 55.751944),
 573: (55.751944, 55.751944),
 574: (55.751944, 55.751944),
 575: (55.751944, 55.751944),
 576: (55.751944, 55.751944),
 577: (55.751944, 55.751944),
 578: (55.751944, 55.751944),
 579: (55.751944, 55.751944),
 580: (55.751944, 55.751944),
 581: (55.751944, 55.751944),
 582: (55.751944, 55.751944),
 583: (55.751944, 55.751944),
 584: (55.751944, 55.751944),
 585: (55.751944, 55.751944),
 586: (55.751944, 55.751944),
 587: (55.751944, 55.751944),
 588: (55.751944, 55.751944),
 589: (55.751944, 55.751944),
 590: (55.751944, 55.751944),
 591: (55.751944, 55.751944),
 592: (55.751944, 55.751944),
 593: (55.751944, 55.751944),
 594: (55.751944, 55.751944),
 595: (55.751944, 55.751944),
 596: (55.751944, 55.751944),
 597: (55.751944, 55.751944),
 598: (55.751944, 55.751944),
 599: (55.751944, 55.751944),
 600: (55.751944, 55.751944),
 601: (55.751944, 55.751944),
 602: (55.751944, 55.751944),
 603: (55.751944, 55.751944),
 604: (55.751944, 55.751944),
 605: (55.751944, 55.751944),
 606: (55.751944, 55.751944),
 607: (55.751944, 55.751944),
 608: (55.751944, 55.751944),
 609: (55.751944, 55.751944),
 610: (55.751944, 55.751944),
 611: (55.751944, 55.751944),
 612: (55.751944, 55.751944),
 613: (55.751944, 55.751944),
 614: (55.751944, 55.751944),
 615: (55.751944, 55.751944),
 616: (55.751944, 55.751944),
 617: (55.751944, 55.751944),
 618: (55.751944, 55.751944),
 619: (55.751944, 55.751944),
 620: (55.751944, 55.751944),
 621: (55.751944, 55.751944),
 622: (55.751944, 55.751944),
 623: (55.751944, 55.751944),
 624: (55.751944, 55.751944),
 625: (55.751944, 55.751944),
 626: (55.751944, 55.751944),
 627: (55.751944, 55.751944),
 628: (55.751944, 55.751944),
 629: (55.751944, 55.751944),
 630: (55.751944, 55.751944),
 631: (55.751944, 55.751944),
 632: (55.751944, 55.751944),
 633: (55.751944, 55.751944),
 634: (55.751944, 55.751944),
 635: (55.751944, 55.751944),
 636: (55.751944, 55.751944),
 637: (55.751944, 55.751944),
 638: (55.751944, 55.751944),
 639: (55.751944, 55.751944),
 640: (55.751944, 55.751944),
 641: (55.751944, 55.751944),
 642: (55.751944, 55.751944),
 643: (55.751944, 55.751944),
 644: (55.751944, 55.751944),
 645: (55.751944, 55.751944),
 646: (55.751944, 55.751944),
 647: (55.751944, 55.751944),
 648: (55.751944, 55.751944),
 649: (55.751944, 55.751944),
 650: (55.751944, 55.751944),
 651: (55.751944, 55.751944),
 652: (55.751944, 55.751944),
 653: (55.751944, 55.751944),
 654: (55.751944, 55.751944),
 655: (55.751944, 55.751944),
 656: (55.751944, 55.751944),
 657: (55.751944, 55.751944),
 658: (55.751944, 55.751944),
 659: (55.751944, 55.751944),
 660: (55.751944, 55.751944),
 661: (55.751944, 55.751944),
 662: (55.751944, 55.751944),
 663: (55.751944, 55.751944),
 664: (55.751944, 55.751944),
 665: (55.751944, 55.751944),
 666: (55.751944, 55.751944),
 667: (55.751944, 55.751944),
 668: (55.751944, 55.751944),
 669: (55.751944, 55.751944),

# Ответ на задание 3.
Итак, как уже было отмечено следует создать файл похожий по структуре на словарь, как изложено в лекции. Каждому Id пользователя будет соответствовать некоторый набор координат. 
Координаты лучше всего перевести в десятичный вид. Далее лучше всего представить их в виде список списков, в каждом подсписке будет содержаться широта и долгота конкретной фиксации координат.
Очень надеюсь, что я правильно понял задание.